<footer class="footer">
            <a href="#">Home</a><span class="footspan"> /</span>
        
            <a href="#">Search Results</a><span class="footspan"> /</span>
        
            <a href="#">Other</a>
</footer>


<!-- Begin script tags -->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

<!-- Javascript local file -->
<script src="app.js" type="text/javascript"></script>

<!-- End script tags -->

</body>
</html>